OPENAI_API_KEY=<KEY>
DEEPGRAM_API_KEY=<KEY>
TELNYX_API_KEY=<KEY>
TELNYX_ACCOUNT_SID=<KEY>
TELNYX_APPLICATION_SID=<KEY>
TELNYX_PHONE_NUMBER=<KEY>
TELNYX_VERIFY_PROFILE_ID=<KEY>
GOOGLE_API_KEY=<KEY>
SERVER_URL=<KEY>
GROQ_API_KEY=<KEY>
CARTESIA_API_KEY=<KEY>
CARTESIA_VOICE_ID=<KEY>