OPENAI_API_KEY=<KEY>
DEEPGRAM_API_KEY=<KEY>
TWILIO_ACCOUNT_SID=<KEY>
TWILIO_AUTH_TOKEN=<KEY>
TWILIO_PHONE_NUMBER=<KEY>
GOOGLE_API_KEY=<KEY>
SERVER_URL=<KEY>
GROQ_API_KEY=<KEY>
TWILIO_VERIFY_SERVICE_SID=<KEY>`
KOKORO_API_URL=<KEY>
CARTESIA_API_KEY=<KEY>
CARTESIA_VOICE_ID=<KEY>